* {
  margin: 0px;
  padding: 0px;
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Times New Roman", Times, serif;
}
