header {
  background-color: #5b80dc;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
}

.navigation {
  font-size: 1rem;
}
